{% load static %}

<section class="site-section-hero bg-image" style="background-image: url('/media/upload/img_.jpg');"  data-stellar-background-ratio="0.5" id="section-home">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-7 text-center">
            <h4 class="text-white heading text-uppercase" data-aos="fade-up">Welcome</h4>
            <p class="lead text-white mb-5" data-aos="fade-up" data-aos-delay="100">
                I'm in Ukraine! I'm safe and I'm working
                <br>Welcome to my website where I will post my work.
                <br>If you want to ask me a question or leave your feedback - feel free to click the button below
            </p>
            <p data-aos="fade-up" data-aos-delay="100">
                <a href="/home/#section-contact" class="btn btn-primary btn-md smoothscroll">Contact Me</a>
            </p>
          </div>
        </div>
</section>{#Welcome#}