{% load static %}

<section class="site-section darken-bg" id="section-bio">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8">
              <h2 class="heading text-uppercase text-white">About me</h2>
              <figure class="mb-5" data-aos="fade-up"><img src="/media/upload/person_3.jpg" alt="Image" class="img-fluid w-50 rounded"></figure>
              <div data-aos="fade-up"  data-aos-delay="100">
              <h2 class="text-white">Hi I'm Svitlana Lee Mark</h2>
                  <p>My name is Svitlana Lisivka Markovets (Svitlana Lee Mark). I live and work in Ukraine. I'm safe now.
                  <br> I paint in different techniques, sometimes completely opposite.
                  Realism, abstraction, landscape, animals- I’m interested in trying everything.
                  <br> But most of all I like to paint with oil in my author’s technique - as I call it "Network".
                  These works are as if woven with a brush and imitate weaving and netting.
                  The creation of each such work requires many stages and a lot of time.
                  It is very difficult to choose an object or plot.
                  Therefore, each of them is unique and inimitable.
                  <br> At each exhibition, it is near these works that the audience stops and takes a long time to examine them.
                      There is always a little fairy tale and magic in these works.</p>
                  <p> You can see it for yourself. Watch the video from my exhibition
                      <a target="_blank" href="https://www.facebook.com/watch/?v=446761145729029" > on facebook.com </a>
                  <br> Or follow the link and select the Network category
                      <a target="_blank" href="https://www.dailypaintworks.com/artists/svitlana-lee-mark-7829/artwork#/category=Modern+%26+NetWork&mode=search">on dailypaintworks.com</a> </p>
<!--              <p>Neque facilis soluta, accusantium quaerat, adipisci-->
<!--                  porro animi, hic fugiat id vero placeat dolorem accusamus sapiente odio consequatur debitis beatae-->
<!--                  eius quos alias. In recusandae magnam quis ipsum, asperiores mollitia!</p>-->
<!--              <h3 class="text-white mt-5">Artist for 10 years</h3>-->
<!--              <p>Tempore repudiandae <a href="#">rerum numquam iste</a>, quibusdam omnis voluptates quaerat veniam-->
<!--                  neque odit sit vel dolores. Optio eveniet ex laborum similique inventore sapiente tenetur.-->
<!--                  Ipsam aliquam esse voluptate qui reiciendis. Harum.</p>-->
<!--              <div class="d-block d-md-flex mt-5">-->
<!--                <div class="mr-md-auto mr-2">-->
<!--                  <ul class="ul-check list-unstyled success">-->
<!--                    <li>Optio eveniet ex laborum</li>-->
<!--                    <li>Inventore sapiente tenetur</li>-->
<!--                    <li>Ipsam aliquam esse</li>-->
<!--                  </ul>-->
<!--                </div>-->
<!--                <div class="mr-md-auto">-->
<!--                  <ul class="ul-check list-unstyled success">-->
<!--                    <li>Optio eveniet ex laborum</li>-->
<!--                    <li>Inventore sapiente tenetur</li>-->
<!--                    <li>Ipsam aliquam esse</li>-->
<!--                  </ul>-->
<!--                </div>-->

<!--              </div>-->
              </div>
            </div>
          </div>
        </div>
      </section>