{% load static %}
{#testimonial#}
<section class="site-section" id="section-testimonial">
        <div class="container">
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <h2 class="heading text-uppercase text-white">Testimonial</h2>

              <div class="row justify-content-center">
                <div class="col-md-12">

                  <div class="owl-carousel slide-one-item home-slider">

                    <div class="testimony text-center px-md-4">
                      <figure class="mx-auto d-inline-block">
                        <img src="/media/upload/person_2.jpg" alt="Image" class="mx-auto img-fluid w-25 rounded-circle">
                      </figure>
                      <p class="text-white"><strong>Jean Smith</strong></p>
                      <blockquote>
                        <p>&ldquo;Wonderful painting!!! More perfect than pictured! Seller was excellent to deal with. Would definitely purchase from again!!!&rdquo;</p>
                      </blockquote>
                    </div>

                    <div class="testimony text-center px-md-4">
                      <figure class="mx-auto d-inline-block">
                        <img src="/media/upload/person_1.jpg" alt="Image" class="mx-auto img-fluid w-25 rounded-circle">
                      </figure>
                      <p class="text-white"><strong>Jean Smith</strong></p>
                      <blockquote>
                        <p>&ldquo;I love this tiny kitten painting so much. I just wish I could grab the baby off the canvas and play with it. I need a word greater than cute! Wonderful perspective that looks perfect no matter which way you hang it!&rdquo;</p>
                      </blockquote>
                    </div>

                  </div>

                </div>
              </div>
            </div>
          </div>
        </div>
</section>
