{#{% extends 'accounts/base_accounts.html' %}#}
{% extends 'layouts/base.html' %}

{% block title %}{{ title }}{% endblock title %}


{% block content %}
    {% load static %}
    <div id="content" class="container">
        <h2>{{ title }}</h2>
        <hr>
        {# onsubmit = Блокировка кнопки отправить на регистрацию #}
        <form id="form1" action="/accounts/sign_up" method="post" onsubmit="return false">
            {% csrf_token %}
            <p>
                <label for="login">Логин:</label><br>
                <input id="login" type="text"  name="login" class="inp" required>
                <div id="login_mess" class="mess">Придумайте логин для входа в систему</div>
            </p>
            <p>
                <label for="pass1">Пароль:</label><br>
                <input id="pass_1" type="password" id="pass1" name="pass1" class="inp" required>
                <div id="pass1_mess" class="mess">Минимум 8 символов, хотя бы одна Большая буква, одна цифра и спецсимвол _ - $ # &</div>
            </p>
            <p>
                <label for="pass2">Повтор пароля:</label><br>
                <input id="pass_2" type="password" id="pass2" name="pass2" class="inp" required>
                <div id="pass2_mess" class="mess">Подтвердите пароль</div>
            </p>
            <p>
                <label for="email">E-Mail:</label><br>
                <input id="email" type="email" id="email" name="email" class="inp" required>
                <div id="email_mess" class="mess">Введите свой емейл</div>
            </p>
            <p style="margin-top: 30px">
                <input id="submit" type="submit" value="Отправить" class="btn btn-success" style="width: 150px">
                <input type="reset" value="Очистить" class="btn btn-success" style="width: 150px">

            </p>
        </form>
        <br>
    </div>
    <script src="{% static 'js/sign_up.js' %}"></script>

{% endblock content %}