#logo {
    background-image: url("../img/bg2.jpg");
    background-size: cover;
    padding-right: 10%;

}

#content {
    margin-top: 30px;
}




.jumbotron {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-bottom: 0;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.jumbotron p:last-child {
  margin-bottom: 0;
}

.jumbotron h1 {
  font-weight: 300;
}

.jumbotron .container {
  max-width: 60rem;
}

footer {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

footer p {
  margin-bottom: .25rem;
}


.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}

.modal img {
  display: block;
  height: auto;
  max-width: 100%;
}

.gallery {
    width: 100%;

}

.gallery th, .gallery td {
    padding: 5px 10px;
    text-align: center;

}

.mess {
    color: red;
    font-style: italic;
    font-size: 10pt;
}